* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STYLING */
header, footer{
    background-color: #0a403a;
    color: antiquewhite;
}

.navigation {
    background-color: antiquewhite;
}

.sidebar h2, .sidebar h3, .navigation h2, .navigation h3{
    color: rgb(91, 14, 14);
}

.sidebar {
    background: #edecebec;
}

main{
    background-color: white;
}


html, body {
    height: 100vh;
    width: 100vw;
}



/* LAYOUT */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 3rem 6rem auto 2rem 3rem;
    grid-gap: 10px;
}

nav {
    grid-column: 1/4;
    grid-row: 1;
}
header {
    grid-column: 1 / 4;
    grid-row: 2; 
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 4; 
    
}

main {
    grid-column: 1 / 4;
    grid-row: 3;
}

footer {
    grid-column: 1 / 4;
    grid-row: 5; 
}



/* INDEX SPECIFIK STYLING */

/* ABOUT SPECIFIK STYLING  */

.about-main{
display: flex;

}

/* GALLERI/PRODUKT SPECIFIK STYLING */



/* iPAD mini */
@media (min-width: 768px){
    .sidebar {
        grid-column: 3 / 4;
        grid-row: 3; 
    }

    main {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    
    footer {
        grid-column: 1 / 3;
        grid-row: 5;
    }
}

/* DESKTOP */
@media (min-width: 1025px){

}