* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STYLING */
header, footer{
    background-color: #0a403a;
    color: antiquewhite;
}

footer{
    height: 75px;
}

header{
    font-family: sans-serif;
    font-size: 1rem;
    height: 75px;
    text-align: center;
}

.navigation {
    background-color: antiquewhite;
    padding: 10px 10%;
    height: 50px;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.navigation ul li a:hover{
    color: red;
}

nav ul li{
    display: block;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.sidebar h2, .sidebar h3, .navigation h2, .navigation h3{
    color: rgb(91, 14, 14);
}

.sidebar {
    background: #edecebec;
}

main{
    background-color: white;
}


html, body {
    height: 100vh;
    width: 100vw;
}

#bloggtext{
    text-align: center;
}



/* LAYOUT */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 3rem 6rem auto auto 3rem;
    grid-gap: 10px;
}

nav {
    grid-column: 1/4;
    grid-row: 1;
}
header {
    grid-column: 1 / 4;
    grid-row: 2; 
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 4; 
    
}

main {
    grid-column: 1 / 4;
    grid-row: 3;
}

footer {
    grid-column: 1 / 4;
    grid-row: 5; 
}



/* INDEX SPECIFIK STYLING */


/* ABOUT SPECIFIK STYLING  */

.about-main{
    display: flex;
    flex-flow: wrap;
    row-gap: 4%;
    gap: 20px;
    justify-content: space-between;
}

.about-box {
    background: antiquewhite;
    padding: 2%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}


#about-team {
    width: 100%;
}

.about-box img{
    width: 100%;
}

.about-box figure{
    background-color: white;
    padding: 10px;
}

.about-box figcaption {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}



/* GALLERI/PRODUKT SPECIFIK STYLING */


/* Iphone */

@media (min-width: 375px), (max-width: 767px){
    img{
        width: 40%;
    }

    footer{
        padding: 10px;
        position: inherit;

    }

    .sidebar{
        height: 100%;
    }

    body{
        gap: 28px;
    }
}



/* iPAD mini */
@media (min-width: 768px){
    .sidebar {
        grid-column: 3 / 4;
        grid-row: 3; 
    }

    main {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .about-box {
        flex-basis: 48%; /* Each box takes up about 48% of the width on larger screens */
        flex-direction: row; /* For larger screens: layout side by side */
        align-items: flex-start;
        font-size: 14px;
    }

    img{
        width: 50%;
    }

    footer {
        grid-column: 1 / 3;
        grid-row: 5;
    }

    .about-box figure {
        /* width: 40%; /* Set the figure to take 40% of the container */ 
        margin-right: 2%; /* Add some spacing between the image and text */
    }

    .about-box p {
        width: 58%; /* Set the paragraph to take the remaining space */
    }

    .about-box article{
        flex-basis: 48%;
    }
}

/* DESKTOP */
@media (min-width: 1025px){

    .blogg {
        font-size: 1rem;
        image-resolution: 200px;
    }
    
    nav {
        font-size: 2rem;
        display: flex;
        gap: 50px;
    }
    
    img{
        width: 30%;
        vertical-align: middle;
    }

    header  {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .sidebar {
        grid-column: 3 / 3;
        grid-row: 3; 
    }

    main {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    nav {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    footer{
        grid-column: 1 / 4;
        grid-row: 4;
    }
}